.st-nre-container{
    padding: 15px;
    margin: 8px;
}

.st-nre-wrapper{
    padding: 8px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
}

.st-nre-box{
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
    padding: 12px 20px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    margin-bottom: 8px;
}

.st-nre-title{
    border-bottom: 1px #e1e1e1 solid;
    padding: 12px 20px;
    font-size: 17px;
    font-weight: 600;
    vertical-align: middle;
}

.st-nre-content{
    padding: 8px;
}

.st-nre-prod-el{
    display: inline-block;
    padding: 8px;
    border: 1px #f1f1f1 solid;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
    margin:5px;
}

.st-nre-prod-noborder-btn{
    background: none;
    border: none;
}

.st-nre-circle-btn{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
    border: 1px #f1f1f1 solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
