.st-nre-container{
    padding: 15px;
    margin: 8px;
}

.st-nre-wrapper{
    padding: 8px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
}

.st-nre-box{
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
    padding: 12px 20px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    margin-bottom: 8px;
}

.st-nre-title{
    border-bottom: 1px #e1e1e1 solid;
    padding: 12px 20px;
    font-size: 17px;
    font-weight: 600;
    vertical-align: middle;
}

.st-nre-content{
    padding: 8px;
}

.st-nre-prod-el{
    display: inline-block;
    padding: 8px;
    border: 1px #f1f1f1 solid;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
    margin:5px;
}

.st-nre-prod-noborder-btn{
    background: none;
    border: none;
}

.st-nre-circle-btn{
    background: white;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
    border: 1px #f1f1f1 solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.st-nre-result-itemlist-wrapper {
    display: flex;
    border: 2px solid #d0d0d0;

    border-radius: 4px;
    padding: 15px;
    margin: 48px 0;
}

.st-nre-result-itemlist-wrapper:hover {
    border: 2px solid #002c40;
    /* transition: ease-in-out 0.5s, 0.3s; */
    transition: all 0.3s ease-out;
}

.st-nre-result-itemlist-img {
    position: relative;
    padding: 3px;
    vertical-align: middle;
    width: 90%;
    height: auto;
    margin-right: 15px;
    box-sizing: border-box;
    border: 1px solid #d0d0d0;
}

.st-nre-result-itemlist-box {
    width: 100%;
    font-size: 18px;
    overflow: hidden;
}

.st-nre-result-itemlist-label {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    font-size: 20px;
    margin-bottom: 3px;
}

.st-nre-result-itemlist-storename {
    font-weight: 600;
    margin-bottom: 3px;
}

.st-nre-result-itemlist-price {
    color: red;
    margin-bottom: 3px;
}

.st-nre-result-itemlist-category {
    opacity: 0.7;
    font-size: 12px;
}

.st-nre-result-itemlist-rank-p {
    margin-bottom: 0;
}

.st-fade-in-box {
    border-radius: 10px;
    background: #dedede;
    color: #868686;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }