<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header::header"></head>

<body>
    <div th:insert="layout/nav/commonNavbar::commonNavbar"></div>
    <div class="pcy-mainpage-container">
        <div class="pcy-mainpage-wrapper">
            <div class="text-center pcy-mainpage-box">
                <h1><img src="/images/icon/favicon.ico/android-icon-192x192.png" width="60" height="60" alt="" loading="lazy"></h1>
                <h1>셀러툴</h1>
                <h1>SellerTool</h1>
                <!-- <p>
                Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
            </p> -->
                <p>OUR_SERVICE</p>
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="pcy-mainpage-button1" onclick="pageRouting('/margin/nonmem/dashboard')">누적 수익 계산기</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="pcy-mainpage-button1" onclick="pageRouting('/margin/dashboard')">마진율 계산기</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="pcy-mainpage-button1" onclick="pageRouting('/rank/naver')"><span class="badge badge-danger align-top">new</span> 네이버 랭킹</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="pcy-mainpage-button1" onclick="pageRouting('/calculate/vat')">부가세 계산기</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="pcy-mainpage-button1" onclick="pageRouting('http:\/\/www.multranslator.com')">멀티 번역기</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="pcy-mainpage-button1" onclick="pageRouting('/profit')"><span class="badge badge-danger align-top">new</span> 순수익 계산기 Alpha Ver.</button>
                    </div>
                </div>
                <div class="pcy-footer-copyright">
                    <div>Copyrightⓒ2020. 셀러툴 all rights reserved. Design by PIAAR | e-mail : pcysynabro.ads@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainPagePopup">

    </div>
    <script th:src="@{/js/mainPopup.js?version=}+${@environment.getProperty('app.environment.static.version')}"></script>
    <footer th:replace="fragment/footer::footer"></footer>
</body>

</html>