<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="셀러툴 SellerTool Test Ver." />
    <title>셀러툴 SellerTool Test Ver.</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <style type="text/css">
        @import url("/css/style.css?version=0.0.4");
    </style>
    <script src="https://kit.fontawesome.com/737c90f2f1.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5V3J2X4SMX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-5V3J2X4SMX');
    </script>
    <script data-ad-client="ca-pub-2340864651976007" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- naver search tool meta tag -->
    <meta name="naver-site-verification" content="56f1add4708c5b828c48d1075f9539196d434791" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="셀러툴 SellerTool" />
    <meta property="og:description" content="셀러툴 - SellerTool은 오픈 마켓 소상공인들을 위한 편의 도구입니다." />
    <meta property="og:url" content="http://profitcalc.multranslator.com" />
</head>