<head th:fragment="header2">
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta name="description" content="셀러툴 - SellerTool은 오픈 마켓 소상공인들을 위한 편의 도구입니다." /> -->
    <meta name="description" content="셀러툴은 오픈 마켓 소상공인들을 위한 편의 도구입니다. 상품 랭킹조회, 마진율 계산기, 순수익 계산기를 통하여 셀러들의 상품, 판매 데이터를 평가 및 분석해 주어 판매전략을 세울 수 있도록 도움을 줍니다." />
    <title>셀러툴 | SellerTool</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <link th:href="@{/css/style.css?version=}+${@environment.getProperty('app.environment.static.version')}" rel="stylesheet">
    <!-- FontAwesome -->
    <!-- <script src="https://kit.fontawesome.com/737c90f2f1.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5V3J2X4SMX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-5V3J2X4SMX');
    </script>
    <!-- adsense -->
    <script data-ad-client="ca-pub-2340864651976007" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- naver search tool meta tag -->
    <meta name="naver-site-verification" content="56f1add4708c5b828c48d1075f9539196d434791" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="셀러툴 SellerTool" />
    <meta property="og:description" content="셀러툴은 오픈 마켓 소상공인들을 위한 편의 도구입니다. 상품 랭킹조회, 마진율 계산기, 순수익 계산기를 통하여 셀러들의 상품, 판매 데이터를 평가 및 분석해 주어 판매전략을 세울 수 있도록 도움을 줍니다." />
    <meta property="og:url" content="https://www.sellertool.io" />
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icon/favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icon/favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icon/favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icon/favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icon/favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon/favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icon/favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icon/favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="/images/icon/favicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/icon/favicon.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>