@import "globalstyles.css";

.rs_itemList_Wrapper{
    font-family: helvetica,Arial,sans-serif;
    border:3px solid #f1f1f1;
    border-radius: 15px;
    padding:15px;
    margin-bottom: 8px;
    overflow: hidden; 
    transition:background-color 1.5s, border 1s;
}

.rs_itemList_Wrapper:hover{
    /* background-color: aquamarine; */
    border:3px solid rgba(127, 255, 212, 0.541);
}

.rs_itemList_Wrapper a{
    color:black;
}
.rs_itemList_Wrapper p{
    margin-bottom: 8px !important;
}

.rs_itemList_Wrapper img{
    position: relative;
    top: 4px;
    box-sizing: border-box;
    border: 1px solid #d0d0d0;
    padding: 3px;
    vertical-align: middle;
    width: 130px;
    height: auto;
    float: left;
    margin-right: 15px;
}

.rs_itemList_title{
    
    font-size:18px;
    font-weight: 500;
}
.rs_itemList_title b{
    
    font-weight: 800;
}

.rs_itemList_storeName{
    font-size:18px;
    font-weight: 800;
}

.rs_itemList_price{
    
    font-size: 18px;
    display: inline-block;
    font-weight: 700;
    line-height: 25px;
    color: #f24443;
    vertical-align: top;
}

.rs_itemList_category{
    color:gray;
    font-size:14px
}

.rs_itemList_rank{
    
    font-size:20px;
    font-weight: 500;
}

